/ServUO.exe.config
/ServUO.pdb
/EmergencyBackup.exe
/EmergencyBackup.exe.config
/EmergencyBackup.pdb
/ServUO.exe
/Server/obj
/Server/Server.csproj.user
/Scripts/Output
/Scripts/obj
/Scripts/Scripts.csproj.user
/Logs
/Saves
*.log
/EmergencyBackup/obj
/EmergencyBackup/EmergencyBackup.csproj.user
/Backups
/ServUO.v12.suo
*.bin
*.idx
*.tdb
*.manifest
*.cache
*.lastcodeanalysissucceeded
Scripts.LV1/bin/Debug/ConsoleApplication.vshost.exe
Scripts.LV2/bin/Debug/ConsoleApplication.vshost.exe
Scripts.LV3/bin/Debug/ConsoleApplication.vshost.exe
Scripts.LV4/bin/Debug/ConsoleApplication.vshost.exe
Scripts.LV5/bin/Debug/ConsoleApplication.vshost.exe
Scripts/GlobalSuppressions.cs
Server/GlobalSuppressions.cs
ServUO.exe.CodeAnalysisLog.xml
EmergencyBackup.exe.CodeAnalysisLog.xml